<!DOCTYPE html>
<html ng-app='EventsApp'>
  <head>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  </head>
  <body ng-controller="HomeEventsController">


    <div id='navbar' class='pure-menu pure-menu-horizontal'>
      <div id='navcontent'>
        <a class='pure-menu-heading pure-menu-link' href='#'>
          <img class='pure-img' src= "DND.jpg">
        </a>
        <ul class='pure-menu-list'>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">My Events</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Log in</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign up</a></li>
        </ul>
      </div>
      <div id='navline'>
      </div>
    </div>


    <div class="banner">
      <h1 class="banner-head">
          <br>
          Gainesville Gaming Events<br>
         
          For all Players.
          </h1>
    </div>



    <form class="pure-form">
    <fieldset>
        <legend> Filter the Events</legend>

        <input id="title" type="text" ng-model='searchParams.title' placeholder="Event Title">
        <input id="type" type="text" ng-model='searchParams.type' placeholder="Event Type">
        <input id="host" type="text" ng-model='searchParams.host' placeholder="Event Host">
         
        <input id="eventdate" type="date" ng-model='searchParams.date'>

        <label for="agelimit">
            <input id="agelimit" type="checkbox" ng-model='searchParams.minAge'> 18+  
        </label>

        <label for="cost">
            <input id="cost" type="checkbox" ng-model='searchParams.cost'> Free 
        </label>

        <label for="rsvp">
            <input id="rsvp" type="checkbox" ng-model='searchParams.rsvp'> Open Seats 
        </label>

        <button type="submit" class="pure-button pure-button-primary">Filter</button>
    </fieldset>
    </form>


    <div>
      <ol id='event-list'>
        <li class='event-card' ng-repeat='(index, event) in events'>
          <!-- Add a little age indicator -->
          <div class='age-indicator' ng-if='event.minAge' ng-click='eventWasClicked(index)'>
            <label>{{event.minAge + '+'}}</label>
          </div>
          <img class="pure-img" src="game.jpg" ng-click='eventWasClicked(index)'>
          <div class='card-body'>
            <div class='card-body-header'>
              <label class='card-title'>{{event.title}}</label>
              <label class='card-date'>{{event.date}}</label>
            </div>
            <div class='card-body-description'>{{event.description}}</div>
          </div>
        </li>
      </ol>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/event-factory.js"></script>
    <script src="js/controllers/home-events-controller.js"></script>
  </body>
</html>