html {
	min-width: 400px;
}

#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

h6{
	color: gray;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  grid-gap: 40px;
  justify-content: space-around;
  background-color: white;
  padding: 50px;
}
.grid-container > div {
	position: relative;
  text-align: center;
  padding: 0px 0;
  border-style: solid;
  border-color: lightgrey;
  width: 260px;
  height: 300px;
  box-shadow: 1px 2px lightgrey;
}

.grid-containter > div > img{
	width: 260px;
	height: 150px;
}
#div-content{

}
