#searchBar {
    margin: 15px 10px;
}

.tableWrapper {
    max-height: 400px;
    overflow: auto;
}

h1 {
    color: #ff702a;

}

h3 {
    color: #fafbff;

}

.btn-warning {
    background-color: #2564ff;
}

label{
    color: #ff702a;
}

body {
    background-image: url("508275.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#addListingAge {
    color: white;
}

input[type="text"]::-webkit-input-placeholder {
    color: white !important;
}

input[type="text"]:-moz-placeholder {
    color: white !important;
}

input[type="text"]::-moz-placeholder {
    color: white !important;
}

input[type="text"]:-ms-input-placeholder {
    color: white !important;
}

.register-input {
    color: white;
}

